<div *ngIf="hero1">

	<h2>{{ hero1.name | uppercase }} Details</h2>
	<div>
		<span>id: </span>{{ hero1.id }}
	</div>
	<div>
		<label>name:
			<input [(ngModel)]="hero1.name" placeholder="name" />
		</label>
	</div>

	<h1>{{ changed }}</h1>


</div>